body {
  padding: 12px;
  font-size: 16px;
  background: linear-gradient(180deg, #17191A 0%, #131313 22.37%);
}
.header {
  min-height: 64px;
  border-bottom: 1px solid rgb(193, 193, 193);
  margin-bottom: 24px;
}

.error-boundary {
  padding: 2em;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin: 1em 0;
}

.error-boundary h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.error-boundary pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#logOutput {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  white-space: pre-wrap;
}

#logOutput h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.version {
  font-size: 30px;
  color: #999;
  margin-left: 30px;
}